<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content ="width=device-width, initial-scale=1.0" />
    <title>Customers</title>

    <link rel="stylesheet" th:href="@{/css/basicStyle.css}">
    <link rel="stylesheet" th:href="@{/css/dataRegistration.css}">
</head>
<body>
<!-- Header: -->
<div th:replace="fragments/headerFragment :: header"></div>

<div class="tabel-wrapper">

    <div class="tabel-box">

        <div class="top-row">
            <a class="back-btn" th:href="@{/dataRegistration}">← Tilbage</a>
        </div>

        <!-- h2 tager imod title fra Controlleren:-->
        <h2 th:text="${title}"></h2>

        <table class="booking-table">
            <thead>
            <tr>
                <th>KundeID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Tlf.</th>
                <th>Nummerplade</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>PostNr</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.licenseNumber}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.zip}"></td>

            </tr>
            </tbody>


        </table>
    </div>
</div>

</body>
</html>